n8n/Orchestration_Appointment Notification Engine.json
{
  "name": "Orchestration: Appointment Notification Engine",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        48
      ],
      "id": "17368331-907b-467a-abf1-4cc2eedb5e53",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -64
      ],
      "id": "61548502-026b-4f6f-860f-bff56fe8a918",
      "name": "Webhook",
      "webhookId": "162a3345-4861-47a7-9253-d368f773d408"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    a.id AS appointment_id,\n    p.full_name AS patient_name,\n    p.email AS patient_email,\n    d.full_name AS doctor_name,\n    a.appointment_date,\n    a.appointment_time,\n    a.symptoms\nFROM appointments a\nJOIN patients p ON a.patient_id = p.id\nJOIN doctors d ON a.doctor_id = d.id\nWHERE a.id = '{{ $json.body.appointmentId }}'::bigint;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -16
      ],
      "id": "b1e92440-c011-417a-9250-c915ddf1dd62",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "thbUmPG7vdzzeVNj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "parihastushar@gmail.com",
        "toEmail": "={{ $json.patient_email }}",
        "subject": "Appointment Confirmed: CareSync Clinic",
        "html": "=<h2>Hello {{ $json.patient_name }},</h2>\n<p>Your appointment has been successfully scheduled and locked into our calendar system.</p>\n<hr/>\n<ul>\n    <li><strong>Doctor:</strong> {{ $json.doctor_name }}</li>\n    <li><strong>Date:</strong> {{ $json.appointment_date }}</li>\n    <li><strong>Time:</strong> {{ $json.appointment_time }}</li>\n    <li><strong>Reason/Symptoms:</strong> {{ $json.symptoms }}</li>\n</ul>\n<p>Thank you for choosing CareSync. If you need to reschedule, please log into your portal at least 24 hours in advance.</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        64,
        16
      ],
      "id": "0d3a26dc-fd3b-4de8-8f79-dce2deebea84",
      "name": "Send an Email",
      "webhookId": "d4d6e6e6-d670-4eda-a8af-26668ffe71b5",
      "credentials": {
        "smtp": {
          "id": "VmgDo4jDOi7tRYDU",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ffa5cfaa-d319-4ba2-be5c-7f6bb33c5688",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c226e18c7fe4eb6f7f0df0b06a97d47f23f6632f2681f95b0685a55c9a2be854"
  },
  "nodeGroups": [],
  "id": "ECe79dwtOVhFn8CY",
  "tags": []
}