n8n/Orchestration_Internal Calendar Sync Engine.json
{
  "name": "Orchestration: Internal Calendar Sync Engine",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -48,
        -32
      ],
      "id": "1c7a83e0-9645-482c-8efd-74f9ba9f896a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -208
      ],
      "id": "39c8c622-9bf7-46cd-9687-b018c8e157f2",
      "name": "Webhook",
      "webhookId": "f705e870-322c-4256-9da1-51db15637a77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO doctor_schedule (\n    doctor_id,\n    day_of_week,\n    appointment_date,\n    appointment_time\n) \nSELECT \n    a.doctor_id,\n    -- Perfectly matches your database capitalization and exact spelling variants\n    (CASE EXTRACT(ISODOW FROM a.appointment_date)\n        WHEN 1 THEN 'Monday'\n        WHEN 2 THEN 'Tuesday'\n        WHEN 3 THEN 'Wednesday'\n        WHEN 4 THEN 'Thrusday' -- Fixed spelling to match your 'Thrusday' database enum exactly!\n        WHEN 5 THEN 'Friday'\n        WHEN 6 THEN 'Saturday'\n        WHEN 7 THEN 'Sunday'\n    END)::weekday, \n    a.appointment_date,\n    a.appointment_time\nFROM appointments a\nWHERE a.id = '{{ $json.body.appointmentId }}'::bigint;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -144
      ],
      "id": "0af17a59-a697-4fba-aa1c-b545f9c55d55",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "thbUmPG7vdzzeVNj",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e209d9dd-ce5f-4f4a-bcea-4bf8a8a26f20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c226e18c7fe4eb6f7f0df0b06a97d47f23f6632f2681f95b0685a55c9a2be854"
  },
  "nodeGroups": [],
  "id": "lsGEtPvuPvEb6Hew",
  "tags": []
}